<div class="form-container">
  <form class="form" [formGroup]="loginForm" (submit)="onSubmit()">
    <div class="mb-4">
      <app-custom-input [label]="'Correo Electrónico'" [type]="'email'" id="email" name="email"
        formControlName="email" />
    </div>
    <div class="relative mb-2">
      <app-custom-input [label]="'Contraseña'" [type]="'password'" id="password" name="password"
        formControlName="password" />
    </div>
    <a class="flex justify-end mt-1 mb-8 cursor-pointer text-gray" [routerLink]="['/auth/password-reset']">
      ¿Olvidaste tu contraseña?
    </a>

    <div class="errorContainer">
      <p *ngIf="isFieldInvalid('email') || isFormatInvalid('password')">
        * El campo es requerido</p>
      <p *ngIf="isFormatInvalid('email')">* El correo electrónico es incorrecto</p>
    </div>

    <div class="block">
      <button class="shadow  border py-2 px-3 leading-tight focus:outline-none focus:shadow-outline buttonLay"
        type="submit" ngClass="{{loginForm.invalid?'disabled':''}}" [disabled]="loginForm.invalid">
        Iniciar Sesión
      </button>
      <div class="account-label register w-full mt-10 inline-flex justify-center text-gray">
        <p><span>¿Aún no tienes cuenta? </span> <a class="underline" [routerLink]="['/auth/register']"
            routerLinkActive="router-link-active">Registrate
            aquí</a></p>
      </div>

      <div class="google block">
        <label class="flex mt-5 justify-center text-gray custom-label" for="SignWith">O iniciar sesión con</label>
        <button class="google-button">
          <img src="/assets/icon/googleIcon.svg" alt="Google" class="google-icon">
          <span class="button-text">Google</span>
        </button>
      </div>
    </div>
  </form>
</div>