<div class="form-container">
  <form class="form" [formGroup]="registrationForm" (submit)="onSubmit()">
    <div class="mb-2">
      <app-custom-input [label]="'Nombre'" id="name" name="name" formControlName="name" />
    </div>
    <div class="mb-2">
      <app-custom-input [label]="'Apellidos'" id="lastname" name="lastname" formControlName="lastname" />
    </div>
    <div class="mb-2">
      <app-custom-input [label]="'Correo Electrónico'" [type]="'email'" id="email" name="email"
        formControlName="email" />
    </div>
    <div class="relative mb-2">
      <app-custom-input [label]="'Contraseña'" [type]="'password'" id="password" name="password"
        formControlName="password" />
    </div>
    <div class="relative mb-2">
      <app-custom-input [label]="'Confirme su contraseña'" [type]="'password'" id="confirmPassword"
        name="confirmPassword" formControlName="confirmPassword" />
    </div>
    <div class="errorContainer register error">
      <p
        *ngIf="(isFieldInvalid('name') || isFieldInvalid('lastname')) || isFieldInvalid('email') || isFieldInvalid('password')">
        * El campo es requerido</p>
      <p *ngIf="isFormatInvalid('email')">* El correo electrónico es incorrecto</p>
      <p *ngIf="passwordsMatch()">* Las contraseñas no coinciden</p>
    </div>
    <div>
      <button class="shadow  border py-2 px-3 leading-tight focus:outline-none focus:shadow-outline buttonLay register"
        type="submit" [disabled]="registrationForm.invalid">Registrar</button>
    </div>
    <div class="account-label w-full mt-5 inline-flex justify-center text-white">
      <p><span>Ya tienes cuenta? </span> <a class="underline" [routerLink]="['/auth/login']"
          routerLinkActive="router-link-active">Iniciar Sesión</a></p>
    </div>
  </form>
  <div class="google-block">
    <label class="flex mt-5 justify-center text-white custom-label registration" for="SignWith">O iniciar sesión con</label>
    <button class="google-button" (click)="onSignInWithGoogle()">
      <img src="/assets/icon/googleIcon.svg" alt="Google" class="google-icon">
      <span class="button-text">Google</span>
    </button>
  </div>
</div>
