@if (!isLoading) {
<div class="flex-container">
  <div class="container-header">
    <div class="profile-data">
      <div class="profile-picture">
        <img src="{{user.photoURL || '/assets/icon/user_icon.svg'}}" alt="Profile Photo">
      </div>
      <div class="user-data">
        <h3 class="text-gray">{{user.name}} {{user.lastname}}</h3>
        <h4 class="text-gray">{{user.email}}</h4>
      </div>
    </div>
    <div class="actions">
      <button class="shadow border py-2 px-3 leading-tight focus:outline-none focus:shadow-outline buttonLay">
        Cambiar Foto
      </button>
      @if (!inputsEditable) {
      <button class="edit-btn" (click)="onEditModeChanged(!inputsEditable)">
        <img src="/assets/icon/pencil.svg" alt="edit">
        <span class="edit-tooltip-text">Editar mis datos</span>
      </button>
      }
      <button class="delete-btn" (click)="onUserDelete()">
        <img src="/assets/icon/trash-can-alt.svg" alt="delete">
        <span class="delete-tooltip-text">Eliminar mi cuenta</span>
      </button>
    </div>
  </div>
  <app-user-info-form (userInfo)="onUserInfoUpdate($event)" [isEditable]="inputsEditable"
    (editModeChanged)="onEditModeChanged($event)"></app-user-info-form>
</div>
} @else {
  <app-spinner/>
}