@if (isLoaded) {
<div class="flex-container">
  <div class="container-header">
    <div class="profile-data">
      <div class="profile-picture">
        <img src="{{user?.photoURL || '/assets/icon/user_icon.svg'}}" alt="Profile Photo">
      </div>
      <div class="user-data">
        <h3 class="text-gray">{{user?.name}} {{user?.lastname}}</h3>
        <h4 class="text-gray">{{user?.email}}</h4>
      </div>
    </div>
    <div class="actions">
      @if (!inputsEditable) {
      <button class="edit-btn" (click)="onEditModeChanged(!inputsEditable)">
        <img src="/assets/icon/pencil.svg" alt="edit">
        <span class="edit-tooltip-text">Editar datos</span>
      </button>
      }
      @if (inputsEditable && currentUser && currentUser.role === 'admin') {
      <p-dropdown [options]="roles" [(ngModel)]="selectedRole" [checkmark]="true" optionLabel="label" [showClear]="true"
        placeholder="Seleccione un rol de usuario" [style]="{'width':'19rem', 'border':'1px solid var(--light-gray)'}" 
        class="role-dropdown">
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="role-option">
            <div class="role-name">{{selectedOption.label}}</div>
          </div>
        </ng-template>
      </p-dropdown>
      }
    </div>
  </div>
  <app-user-info-form (userInfo)="onUserInfoUpdate($event)" [isEditable]="inputsEditable"
    (editModeChanged)="onEditModeChanged($event)"></app-user-info-form>
</div>
} @else {
<app-spinner />
}