<div class="main-page">
    <div class="widget-container">
        <div class="widget-container-left">
            <app-appointment-filter class="w-full flex justify-center" />
        </div>
        <div class="widget-container-right">
            <div class="card-headline">
                <h2>Agenda del día</h2>
            </div>
            <div class="card-body">
                <div class="card-body-headline">
                    <h2>Resultados de Búsqueda</h2>
                </div>
                <div class="card-body-results">
                    <ul>
                        @if (appointments.length > 0) {
                        @for (appointment of appointments; track appointment){
                        <li>
                            <div class="card-body-results-item">
                                <div class="result-item-body">
                                    <p>{{ appointment.patientName }}</p>
                                    <p>{{ appointment.location }}</p>
                                    <p>{{ appointment.date}}</p>
                                    <p>{{ appointment.time }}</p>
                                </div>
                                <div class="result-body-buttons">
                                    <button>Edit</button>
                                    <button>Delete</button>
                                </div>
                            </div>
                        </li>
                        }
                        }
                        @else {
                        <li>
                            <div class="card-body-results-item">
                                <div class="result-item-body">
                                    <p>No hay citas para mostrar</p>
                                </div>
                            </div>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @if (showModal) {
    <app-modal (closed)="closeModal()"></app-modal>
    }
</div>