.widget-container,
.widget-container-left,
.widget-container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.widget-container {
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.widget-container-left {
  flex-direction: column;
  width: 60%;
  margin: 1.5rem;
}

.widget-container-right {
  flex-direction: column;
  width: 40%;
  margin: 1.5rem;
}

@media screen and (max-width: 1150px) {
  .widget-container {
    flex-direction: column;
    justify-content: space-around;
    // gap: 2rem;
    overflow-y: auto;
    max-height: 83vh;
  }
}