.widget-container,
.widget-container-left,
.widget-container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.widget-container {
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.widget-container-left {
  flex-direction: column;
  width: 70%;
}

.widget-container-right {
  flex-direction: column;
  width: 40%;
}

@media screen and (max-width: 1150px) {
  .widget-container {
    flex-direction: column;
  }

  .widget-container-left {
    width: 100%;
  }

  .widget-container-right {
    display: none;
  }

  .card-headline,
  .card-body,
  .card-body-results-item {
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .card-headline,
  .card-body,
  .card-body-results-item {
    width: 100%;
    flex-direction: column;
  }
}
