<div class="full-screen-container">
  <div class="user-details-container">
    @if (isLoading) {
    <div class="user-details">** Cargando... **</div>}
    @else {
    <h2 class="details-title"> Información del cliente</h2>
    <div class="user-details">
      <div class="details">
        <div class="id">
          <label for="id">Cédula:</label>
          <span>{{user.identification}}</span>
        </div>
        <div class="name">
          <label for="name">Nombre:</label>
          <span>{{user.name}} {{user.lastname}}</span>
        </div>
        <div class="age">
          <label for="age">Edad:</label>
          <span>{{user.birthdate | calculateAge}}</span>
        </div>
        <div class="email">
          <label for="email">Correo:</label>
          <span>{{user.email}}</span>
        </div>
        <div class="location">
          <label for="location">Ubicación:</label>
          <span>{{user.district}}, {{user.canton}}</span>
        </div>
        <div class="phone">
          <label for="phone">Teléfono:</label>
          <span>{{user.phoneNumber}}</span>
        </div>
        <div class="directions">
          <label for="name">Direcciones:</label>
          <button class="direction-btn">
            <i>
              <img src="/assets/icon/map.svg" alt="mapIcon">
            </i>
            <span>
              Obtener
            </span>
          </button>
        </div>
        <img class="directions-img" src="/assets/icon/mapstemp.svg" alt="temp">
      </div>

      <div class="appointments">
        <div class="appointment">
          <h3>Ultima Cita</h3>
          <div class="day">
            <label for="day">Día:</label>
            <span>8 de mayo del 2024</span>
          </div>
          <div class="hour">
            <label for="hour">Hora:</label>
            <span>8:00 am</span>
          </div>
          <div class="specialty">
            <label for="specialty">Especialidad:</label>
            <span>Medicina General</span>
          </div>
        </div>
        <hr>
        <div class="appointment">
          <h3>Próxima Cita</h3>
          <div class="day">
            <label for="day">Día:</label>
            <span>22 de mayo del 2024</span>
          </div>
          <div class="hour">
            <label for="hour">Hora:</label>
            <span>9:00 am</span>
          </div>
          <div class="specialty">
            <label for="specialty">Especialidad:</label>
            <span>Medicina General</span>
          </div>
        </div>
      </div>

      <div class="directions">
        <label for="name">Direcciones:</label>
        <button class="direction-btn">
          <span>
            Obtener
          </span>
        </button>
      </div>
    </div>
    <app-notes />
    }
  </div>