.user-details-container{
    display: block;
    margin: 5rem auto;
    padding: 1rem;
    width: 70%;
    color: var(--dark-gray);
}

.details-title{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.user-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    margin: auto;
    width: 100%;
    font-size: 1.25rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.details{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.details div{
    display: flex;
    gap: .5rem;
    align-items: center;
}
.directions{
    display: flex;
    align-items: flex-start!important;
}

.direction-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--dark-blue);
    color: var(--white);
    cursor: pointer;
    transition: all .3s;
}

.appointments{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.appointment{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.appointment div{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.user-details > .directions{
    display: none;
}

@media screen and (max-width: 1150px) {
    .user-details-container{
        width: 90%;
        overflow-y: scroll;
    }
    
    .user-details{
        flex-direction: column;
        
    }

    .details{
        gap: 1rem;
    }
    .details  .directions, .details .direction-btn{
        display: none;
    }
    .user-details > .directions{
        display: flex;
        align-items: center !important;
        gap: 1rem;
    }

    .user-details .details::after {
        content: "";
        display: block;
        width: 100%;
        border-top: 1px solid var(--light-gray);
        margin-top: 1rem;
        margin-bottom: 1rem;

    }



}