<div class="full-screen-container">
  <div class="user-details-container">
    @if (isLoading) {
    <app-spinner></app-spinner>
    }
    @else {
    <h2 class="details-title"> Información del paciente</h2>
    <div class="user-details">
      <div class="details">
        @if (currentUser && currentUser.role === 'admin') {
        <div class="id">
          <label for="id">Cédula:</label>
          <span>{{user.identification}}</span>
        </div>
        }
        <div class="name">
          <label for="name">Nombre:</label>
          <span>{{user.name}} {{user.lastname}}</span>
        </div>
        @if (currentUser && currentUser.role === 'admin') {
        <div class="age">
          <label for="age">Edad:</label>
          <span>{{user.birthdate | calculateAge}}</span>
        </div>
        }
        <div class="email">
          <label for="email">Correo:</label>
          <span>{{user.email}}</span>
        </div>
        <div class="phone">
          <label for="phone">Teléfono:</label>
          <span>{{user.phoneNumber}}</span>
        </div>
        @if (currentUser && currentUser.role === 'admin') {
        <div class="directions">
          <label for="name">Dirección:</label>
          <div>
            <p-blockUI [target]="pnl" [blocked]="true" styleClass="panel-overlay" />
            <p-panel #pnl [showHeader]="false" styleClass="map-panel">
              <div class="map">
                <app-map [mapStyles]="{'width': '25rem', 'height': '15.625rem'}"
                  [containerStyle]="{'flex-direction': 'column'}"></app-map>
              </div>
            </p-panel>
          </div>
          <button class="direction-btn" (click)="openInGoogleMaps()">
            <span>
              Obtener ruta
            </span>
          </button>
        </div>
        }
      </div>
      @if (currentUser && currentUser.role === 'admin') {
      <div class="appointments">
        <div class="appointment">
          <h3>Ultima Cita</h3>
          <div class="day">
            <label for="day">Día:</label>
            <span>8 de mayo del 2024</span>
          </div>
          <div class="hour">
            <label for="hour">Hora:</label>
            <span>8:00 am</span>
          </div>
          <div class="specialty">
            <label for="specialty">Especialidad:</label>
            <span>Medicina General</span>
          </div>
        </div>
        <hr>
        <div class="appointment">
          <h3>Próxima Cita</h3>
          <div class="day">
            <label for="day">Día:</label>
            <span>22 de mayo del 2024</span>
          </div>
          <div class="hour">
            <label for="hour">Hora:</label>
            <span>9:00 am</span>
          </div>
          <div class="specialty">
            <label for="specialty">Especialidad:</label>
            <span>Medicina General</span>
          </div>
        </div>
      </div>
      }
    </div>
    @if (currentUser && currentUser.role === 'admin') {
    <app-notes />
    }
    }
  </div>