@if (isLoading) {
<app-spinner></app-spinner>
}@else{
<div class="container">
  <!-- <div class="actions"> -->
  <button class="back-cancel" (click)="cancelAppointment()">
    <img src="/assets/icon/arrow_back.svg" alt="back">
  </button>
  <!-- </div> -->
  <p-stepper orientation="vertical" [activeStep]="0" [linear]="true">
    <p-stepperPanel header="Información del paciente">
      <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
        <app-user-summary (next)="nextCallback.emit()" (user)="appointment.patient = $event "></app-user-summary>
      </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Información de la cita">
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
        let-index="index">
        <app-select-user (selectedUser)="appointment.professional= $event " />
        <app-add-categories (specialties)="appointment.specialties = $event " />
        <app-date-and-time-picker (dateSelected)="onDateSelected($event)" />
        <div class="actions">
          <button class="back" (click)="prevCallback.emit()">Atrás</button>
          <button class="next" (click)="nextCallback.emit()"
            [disabled]="!appointment.professional||!(appointment.specialties&& appointment.specialties.length>0)">Siguiente</button>
        </div>
      </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Confirmación">
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
        @if(appointment.patient && appointment.professional &&
        appointment.datetime){
        <app-appointment-summary [appointment]="appointment" (back)="prevCallback.emit()" />
        }
        <div class="actions">
          <div class="cancelBack">
            <button class="back" (click)="prevCallback.emit()">Atrás</button>
            <button class="cancel" (click)="cancelAppointment()">Cancelar</button>
          </div>
          <button class="schedule" (click)="onScheduleAppointment()">Agendar</button>
        </div>
      </ng-template>
    </p-stepperPanel>
  </p-stepper>
</div>

}