<div class="calendar">

  <div class="actions">
    <div class="back-forward">
      <div class="btn" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Anterior
      </div>
      <div class="btn" mwlCalendarToday [(viewDate)]="viewDate">
        Hoy
      </div>
      <div class="btn" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Siguiente
      </div>
    </div>
    <div class="month">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</h3>
    </div>
    <div class="view day-view">
      <div class="btn month-view" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
        Mes
      </div>
      <div class="btn week-view" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
        Semana
      </div>
      <div class="btn " (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
        Día
      </div>
    </div>
  </div>


  <mwl-calendar-month-view *ngIf="view===CalendarView.Month" [viewDate]="viewDate" [events]="events"
    (dayClicked)="onDayClicked($event)" (eventClicked)="displayEvent()" locale="es" class="month-view" />
  <mwl-calendar-week-view *ngIf="view=== CalendarView.Week" [viewDate]="viewDate" [events]="events" class="week-view"
    [hourSegments]="1" [dayStartHour]="dayStartHour" [dayEndHour]="dayEndHour"
    (hourSegmentClicked)="onSegmentClicked($event)" (eventClicked)="displayEvent()" locale="es">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngIf="view===CalendarView.Day" [viewDate]="viewDate" [events]="events"
    [dayStartHour]="dayStartHour" [dayEndHour]="dayEndHour" [hourSegments]="1"
    (hourSegmentClicked)="onSegmentClicked($event)" (eventClicked)="displayEvent()" locale="es" />
</div>