<div class="agenda-container">
  <div class="agenda-header">
  </div>
  <div class="agenda-content">

    <app-calendar (dayClicked)="onDayClicked($event)"></app-calendar>


    <!-- @if (!isDialogOpen) {
    <button (click)="openDialog()">New appointment</button>
    } -->
    <!-- @if (showScheduleAppointment&&!isDialogOpen) {
    <app-schedule-appointment class="no-modal" (closeDialog)="closeDialog()"
      (scheduleAppointment)="scheduleAppointment()" />
    } -->

  </div>
</div>

<!-- <p-dialog class="modal" header="Agenda tu cita" [modal]="true" [(visible)]="isDialogOpen" [draggable]="false">
  @if (stepperVisible) {
  <app-schedule-appointment (closeDialog)="closeDialog()" (scheduleAppointment)="scheduleAppointment()" />
  }
</p-dialog> -->