.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    max-width: fit-content;
    max-height: fit-content;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    margin: unset;
    font-size: 1rem;
}

.modal-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .modal {
        background-color: white;
    }

    .modal-overlay {
        display: none;
    }

    .modal-content {
        border-radius: 0;
        box-shadow: unset;
        gap: 15px;
        max-height: unset;
        height: 87vh;
    }

    .modal-body {
        overflow-y: scroll;
    }

    .modal-body::-webkit-scrollbar {
        display: none;
    }

    .modal-body::-webkit-scrollbar-track {
        background: transparent;
    }

    .modal-body::-webkit-scrollbar-thumb {
        background: transparent;
    }

    .modal-close {
        display: none;
    }

}

@media (orientation: landscape) and (max-height: 412px) {
    .modal-content {
        height: 69vh;
    }
}