<div class="modal-overlay">
  <div class="modal-content">
    <!-- Header -->
    <div class="modal-header">
      <h3 class="modal-title card-title">
        Completa tu perfil
      </h3>
      <div class="modal-close-button">
        <button class="modal-close" (click)="closeModal()">
          <span>✖</span>
        </button>
      </div>
    </div>
    <!-- Body -->
    <div class="modal-body">
      <div class="modal-form">
        <app-user-info-form></app-user-info-form>
      </div>
      <div class="modal-map"></div>
    </div>
  </div>
</div>