<div class="users-container">
  <div class="users-content">
    <div class="users-headline">
      <h2>Resultados de Búsqueda</h2>
      <app-search-input [placeholder]="'Buscar paciente...'" />
    </div>
    <div class="users-body">
      <div class="users-body-headline mb-5">
        <div class="users-body-results">
          @if (isLoading) {
          <div class="users-body-results-item">
            ** Cargando... **
          </div>
          }
          @else if(users.length > 0){
          @for (user of users; track $index) {
          <div class="users-body-results-item">
            <div class="user-info">
              <div class="id">
                <label for="id">Cédula de identidad:</label>
                <span>{{user.identification}}</span>
              </div>
              <div class="name">
                <label for="name">Nombre:</label>
                <span>{{user.name}} {{user.lastname}}</span>
              </div>
              <div class="phone-number">
                <label for="phone-number">Número de contacto:</label>
                <span> {{user.phoneNumber}}</span>
              </div>
            </div>
            <div class="actions-section">
              <button class="btn edit-btn"><img src="/assets/icon/edit-pencil.svg" alt="edit-pencil"></button>
              <button class="btn delete-btn" (click)="openDialog(user)"><img src="/assets/icon/unlink_icon.svg"
                  alt="delete-wastebasket"></button>
              <button class="user-details" [routerLink]="['/user', user.uid]">Ver detalles</button>
            </div>
          </div>
          <app-dialog [isOpen]="isDialogOpen" (closeDialog)="handleDialogClose()">
            <div dialog-header>
              <h2>Desvincular paciente</h2>
            </div>
            <div dialog-body>
              <div class="content-body">
                <p>{{'Estas segur@ que deseas desvincular a "'+ userSelected.name + '" de tu cuenta?'}}</p>
              </div>
              <div class="dialog-actions">
                <button class="btn cancel-btn" (click)="handleDialogClose()">Cancelar</button>
                <button class="btn confirm-btn" (click)="unlink()">Desvincular</button>
              </div>
            </div>
          </app-dialog>
          }
          }@else{
          <div class="users-body-results-item">
            ** No hay pacientes registrados **
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>