@if (isLoading) {
<app-spinner />
} @else {
<div class="users-container">
  <div class="users-content">
    <div class="users-headline">
      <h2>Resultados de Búsqueda</h2>
      @if (currentUser && currentUser.role === 'admin') {
      <app-search-input (searchInputChange)="onSearchInputChange($event)" [placeholder]="'Buscar paciente...'">
      </app-search-input>
      } @else {
      <app-search-input (searchInputChange)="onSearchInputChange($event)"
        [placeholder]="'Buscar enfermero...'"></app-search-input>
      }
      @if (currentUser && currentUser.role === 'admin') {
      <p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value"
        class="select-button" (onOptionClick)="selectButtonChange($event)" />
      }
    </div>
    <div class="users-body">
      <div class="users-body-headline mb-5">
        <div class="users-body-results">
          @if(users.length > 0){
          @for (user of users; track $index) {
          <div class="users-body-results-item">
            <div class="user-info">
              @if (currentUser && currentUser.role === 'admin' && value === 'patients') {
              <div class="id">
                <label for="id">Cédula de identidad:</label>
                <span>{{user.identification}}</span>
              </div>
              }
              <div class="name">
                <label for="name">Nombre:</label>
                <span>{{user.name}} {{user.lastname}}</span>
              </div>
              <div class="phone-number">
                <label for="phone-number">Número de contacto:</label>
                <a href="{{ 'tel:' + user.phoneNumber }}">
                  <span> {{user.phoneNumber}}</span>
                </a>
              </div>
              @if (currentUser && currentUser.role === 'user' || value === 'users') {
              <div class="email">
                <label for="email">Correo:</label>
                <a href="{{ 'mailto:' + user.email }}">
                  <span> {{ user.email }}</span>
                </a>
              </div>
              }
            </div>
            <div class="actions-section">
              @if (currentUser && currentUser.role === 'admin') {
              <button class="btn edit-btn" [routerLink]="['/edit-user', user.uid]">
                <img src="/assets/icon/edit-pencil.svg" alt="edit-pencil">
              </button>
              }
              @if (value === 'patients') {
              <button class="btn delete-btn" (click)="openDialog(user)">
                <img src="/assets/icon/unlink_icon.svg" alt="delete-wastebasket">
                <span class="unlink-tooltip-text">Desvincular</span>
              </button>
              }
              @if (currentUser && currentUser.role === 'admin' && value === 'patients') {
              <button class="user-details" [routerLink]="['/user', user.uid]">
                Ver detalles
              </button>
              }
            </div>
          </div>
          }
          }@else{
          <div class="users-body-results-item">
            ** No hay pacientes registrados **
          </div>
          }
          <app-dialog [isOpen]="isDialogOpen" (closeDialog)="handleDialogClose()">
            <div dialog-header>
              <h2>Desvincular paciente</h2>
            </div>
            <div dialog-body>
              <div class="content-body">
                <p>{{'Estas seguro que deseas desvincular a "'+ userSelected.name + '" de tu cuenta?'}}</p>
              </div>
              <div class="dialog-actions">
                <button class="btn cancel-btn" (click)="handleDialogClose()">Cancelar</button>
                <button class="btn confirm-btn" (click)="unlink()">Desvincular</button>
              </div>
            </div>
          </app-dialog>
        </div>
      </div>
    </div>
  </div>
</div>
}