.users-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
  height: 100%;
  animation: fadeInBackground 0.2s ease-in-out forwards;
}

.users-content {
  width: 80%;
  height: 75%;
}

.users-body-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 40rem;
  overflow-y: auto;
}

.users-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.users-headline h2 {
  flex: 1;
}

.users-headline app-search-input {
  flex: 0.5;
}

.users-body {
  margin: 1rem 0;
}

.users-body-results-item {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.user-info {
  display: flex;
  flex-direction: row;
  flex: 2;
  gap: 3rem;
}

.users-body-results-item>.user-info>div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  flex: 1.5;
}

.users-body-results-item>div.actions-section {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: row;
  flex: 0.5;
}

button.btn {
  color: var(--white);
  padding: 0.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

button.btn img {
  min-width: 1rem;
  width: 1rem;
  height: 1rem;
}

button.user-details {
  min-width: 120px;
  background-color: var(--dark-blue);
  border-radius: 2rem;
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
  color: var(--white);
}

.unlink-tooltip-text {
  visibility: hidden;
  position: absolute;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  z-index: 1;
  width: max-content;
}

.actions-section .delete-btn:hover .unlink-tooltip-text {
  visibility: visible;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.dialog-actions button {
  flex: 1;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
}

.dialog-actions .cancel-btn {
  background-color: var(--white);
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}

.dialog-actions .confirm-btn {
  background-color: var(--dark-blue);
  color: var(--white);
}

// Scroll
.users-body-results::-webkit-scrollbar {
  width: 0.25rem;
}

.users-body-results::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1rem;
}

.users-body-results::-webkit-scrollbar-thumb {
  background: var(--dark-blue);
  border-radius: 1rem;
}

.users-body-results::-webkit-scrollbar-thumb:hover {
  background: var(--darker-blue);
}

@media screen and (max-width: 1150px) {
  .users-content {
    width: 100%;
    height: 100%;
  }

  .users-body-results {
    height: 75vh;
  }

  .users-container {
    justify-content: flex-start;
    margin: 2rem auto;
  }

  .users-body-results-item {
    flex-direction: row;
    margin: 0 1rem;
  }

  .user-info {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .actions-section {
    flex: 1;
    flex-direction: column;
  }

  .delete-btn:hover .unlink-tooltip-text {
    visibility: hidden;
  }
}

@media screen and (max-width: 880px) {
  .users-body-results-item {
    flex-direction: column;
    gap: 0.5rem;
  }

  .user-info {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .actions-section {
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
  }

  .users-body-results-item .user-info .phone-number {
    display: none;
  }

  .users-headline>h2 {
    display: none;
  }

  .users-headline app-search-input {
    flex: 1;
  }
}