<div class="form-container">
  <form class="form" [formGroup]="userInfoForm" (submit)="onSubmit()">
    <div class="form-inputs">
      <div class="flex-row">
        <div class="mb-2 input-container">
          <app-custom-input [label]="'Nombre'" id="name" name="name" formControlName="name" />
        </div>
        <div class="mb-2 input-container">
          <app-custom-input [label]="'Apellido'" id="lastname" name="lastname" formControlName="lastname" />
        </div>
      </div>
      <div class="flex-row">
        <div class="mb-2 input-container">
          <app-custom-input [label]="'Cédula'" id="identification" name="identification"
            formControlName="identification" />
        </div>
        <div class="mb-2 input-container">
          <app-custom-input [label]="'Fecha de nacimiento (DD/MM/AAAA)'" id="birthday" name="birthday"
            formControlName="birthday" />
        </div>
      </div>
      <div class="flex-row">
        <div class="mb-2 input-container">
          <app-custom-input [label]="'Teléfono'" [type]="'tel'" id="phoneNumber" name="phoneNumber"
            formControlName="phoneNumber" />
        </div>
        <div class="mb-2 input-container">
          <app-custom-input [label]="'Correo Electrónico'" [type]="'email'" id="email" name="email"
            formControlName="email" />
        </div>
      </div>
      <div class="flex-row">
        <div class="mb-2 input-container">
          <app-custom-input [label]="'Distrito'" id="district" name="district" formControlName="district" />
        </div>
        <div class="mb-2 input-container">
          <app-custom-input [label]="'Cantón'" id="canton" name="canton" formControlName="canton" />
        </div>
      </div>
      <div class="errorContainer error">
        <p *ngIf="isFieldInvalid('name') ||
        isFieldInvalid('lastname') ||
        isFieldInvalid('identification') ||
        isFieldInvalid('birthday') ||
        isFieldInvalid('phoneNumber') ||
        isFieldInvalid('email') ||
        isFieldInvalid('district') ||
        isFieldInvalid('canton')">* El campo es requerido</p>
        <p *ngIf="isFormatInvalid('email')">* El correo electrónico es incorrecto</p>
        <p *ngIf="isFormatInvalid('identification')">* El número de cédula es incorrecto</p>
        <p *ngIf="isFormatInvalid('birthday')">* La fecha de nacimiento es incorrecta (DD/MM/AAAA)</p>
      </div>
    </div>
    <div class="form-map">
      <h3 class="card-title form-title">
        Selecciona tu ubicación exacta
      </h3>
    </div>
    <div class="actions">
      <div class="actions">
        <button class="shadow  border py-2 px-3 leading-tight focus:outline-none focus:shadow-outline buttonLay"
          type="submit" [disabled]="userInfoForm.invalid">Guardar</button>
      </div>
    </div>
  </form>
</div>