.user-data-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.input-container {
    flex: 1 1 0;
    min-width: 350px;
}

.form-title {
    margin: unset;
    font-size: 1rem;
}

.text-gray {
    color: var(--dark-gray);
}

.form-map {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.map-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

:host ::ng-deep .map-panel.p-panel {
    .p-panel-content {
        padding: 0;
    }
}

:host ::ng-deep .panel-overlay.p-blockui {
    border-radius: 1rem;
    width: 25rem !important;
    height: 15.625rem;
}

.actions {
    display: flex;
    align-self: flex-end;
    gap: 1rem;
}

.save-btn {
    width: auto;
    padding: 8px 16px;
    border-radius: 2rem;
    font-weight: 700;
    background-color: var(--dark-blue);
    color: white;
    transition: all 0.15s ease 0s;
}

.cancel-btn {
    width: auto;
    padding: 8px 16px;
    border-radius: 2rem;
    font-weight: 700;
    background-color: var(--white);
    color: #F87171;
    border: 1px solid #F87171;
    transition: all 0.15s ease 0s;
}

@media screen and (max-width: 1150px) {
    .flex-row {
        flex-direction: column;
    }

    .actions {
        position: fixed;
        bottom: 4.688rem;
        flex-direction: column-reverse;

        .save-btn {
            width: unset;
            margin-left: unset;

            background-color: white;
            padding: 1.5rem;
            box-shadow: 0px 4px 12px 0px rgba(13, 10, 44, 0.06);
            border: solid 0.063rem #e6e6e9;
            border-radius: 1.5rem;
            background-image: url("/assets/icon/floppy_disk_icon.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px 20px;
        }

        .cancel-btn {
            width: unset;
            margin-left: unset;

            background-color: white;
            padding: 1.5rem;
            box-shadow: 0px 4px 12px 0px rgba(13, 10, 44, 0.06);
            border: solid 0.063rem #e6e6e9;
            border-radius: 1.5rem;
            background-image: url("/assets/icon/cancel_icon.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px 20px;
        }

        .save-text {
            display: none;
        }

        .cancel-text {
            display: none;
        }
    }
}