<div class="widget_container">
  <div class="card-headline">
    <h2>Buscar citas</h2>
    <div class="search_input">
      <input type="text" placeholder="Nombre, Apellido, Especialidad...">
      <button class="search-button">
        <img src="/assets/icon/search.svg" alt="search">
      </button>
    </div>
    <button class="dates">
      <img src="/assets/icon/calendar.svg" alt="calendar">
      <span>Fechas</span>
    </button>
  </div>
  <div class="card-body">
    <div class="card-body-headline mb-5">
      <h2>Resultados de Búsqueda</h2>
    </div>
    <div class="card-body-results">
      @if(appointments.length > 0){
      <div class="card-body-results-item">
        <div class="first-section">
          <div class="name">
            <label for="name">Nombre:</label>
            <span>Juan Pérez</span>
          </div>
          <div class="location">
            <label for="location">Ubicación:</label>
            <span>Santa Clara, San Carlos</span>
          </div>
        </div>
        <div class="second-section">
          <div class="date">
            <label for="date">Día:</label>
            <span> 16 mayo del 2024</span>
          </div>
          <div class="hour">
            <label for="hour">Hora:</label>
            <span>10:00 AM</span>
          </div>
        </div>
        <div class="actions-section">
          <button class="btn edit-btn"><img src="/assets/icon/edit-pencil.svg" alt="edit-pencil"></button>
          <button class="btn delete-btn"><img src="/assets/icon/wastebasket.svg" alt="delete-wastebasket"></button>
        </div>
      </div>
      } @else {
      <div class="card-body-results-item">
        ** No hay citas programadas **
      </div>
      }
    </div>
  </div>
