.widget_container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 85%;
}

.card-headline,
.card-body {
  display: flex;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.card-headline {
  justify-content: space-around;
  align-items: center;
  border-radius: 16px 16px 0 0;
}

.card-body {
  flex-direction: column;
  height: 30.75rem;
  padding: 3rem;
  font-size: 1rem;
  color: var(--dark-gray);
  overflow: auto
}


.card-headline h2,
.card-body-headline h2 {
  font-weight: bold;
  color: var(--dark-gray);
  
}
.card-body-headline h2{  
  font-size: 1rem;
}


.search_input {
  position: relative;
  width: 45%;
}
.search_input > input {
  width: 100%;
  height: 2.25rem;
  border-radius: 1rem;
  font-size: 0.87rem;
  border: 1px solid var(--light-gray);
  padding: 0 3rem 0 1rem;
  box-sizing: border-box;
}

.search_input > .search-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.search_input > .search-button img {
  width: 2.25rem;
  height: 2.25rem;
}

button.dates {
  position: relative;
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 1.875rem;
  border: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Espacio entre el icono y el texto */
  cursor: pointer;
  transition: background-color 0.3s ease;

  img {
    width: 1.5rem; /* Ajusta el tamaño del icono */
    height: 1.5rem;
  }

  span {
    font-size: 1rem;
  }
}

.card-body::-webkit-scrollbar {
  width: 8px;
}

.card-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.card-body::-webkit-scrollbar-thumb {
  background: var(--dark-blue);
  border-radius: 10px;
}

.card-body::-webkit-scrollbar-thumb:hover {
  background: var(--darker-blue);
}


// Result Card

.card-body-results{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  height: 100%;
}

.card-body-results-item{
  display: flex;
  gap: 1.25rem;
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.card-body-results-item > div{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card-body-results-item > div>div{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.first-section{
  flex: 1.5;
  
}
.second-section{
  flex: 1;
}
.actions-section{
  flex: .5;
}

.actions-section{
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
}

button.btn{
  color: var(--white);
  padding: .25rem;
  border-radius: .25rem;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

button.btn img{
  width: 1rem;
  height: 1rem;
}



