<div class="widget_container">
  <div class="card-headline">
    <div class="search-section">
      <div class="filter">
        <h2>Buscar citas</h2>
        <app-search-input (searchInputChange)="onSearchInputChange($event)"
          [placeholder]="'Nombre, apellido, ubicación...'" />
      </div>
      <div class="dates">
        <h2>Fechas</h2>
        <div class="card flex justify-content-center">
          <p-calendar [(ngModel)]="rangeDates" selectionMode="range" showClear="{{ showClear }}" [readonlyInput]="true" class="date-range"
            (onSelect)="onDateRangeChange($event)" (onClear)="onClearRangeSearch()"/>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-body-headline mb-5">
      <h2>Resultados de Búsqueda</h2>
    </div>
    <div class="card-body-results">
      <ul>
        @if (appointments.length > 0) {
        @for (appointment of appointments; track appointment){
        <li>
          <div class="card-body-results-item" (click)="onAppointmentClicked(appointment)">
            <div class="clickable-section">
              <div class="first-section">
                <div class="name">
                  <label for="name">Nombre:</label>
                  <span>{{ appointment.patient.name }} {{ appointment.patient.lastname }}</span>
                </div>
                <div class="location">
                  <label for="location">Ubicación:</label>
                  <span>{{ appointment.shortAddress }}</span>
                </div>
              </div>
              <div class="second-section">
                <div class="date">
                  <label for="date">Día:</label>
                  <span>{{ appointment.datetime | date:'EEEE, MMMM d, y' | titlecase }}</span>
                </div>
                <div class="hour">
                  <label for="hour">Hora:</label>
                  <span>{{ appointment.datetime | date:'h:mm a' :'UTC+0' }}</span>
                </div>
              </div>
            </div>
            <div class="actions-section">
              <button class="btn edit-btn"><img src="/assets/icon/edit-pencil.svg" alt="edit-pencil"></button>
              <button class="btn delete-btn"><img src="/assets/icon/wastebasket.svg" alt="delete-wastebasket"></button>
            </div>
          </div>
        </li>
        }
        }
        @else {
        <li>
          <div class="card-body-results-item">
            No se encontraron resultados
          </div>
        </li>
        }
      </ul>
      <p-sidebar [(visible)]="sidebarVisible" position="right" styleClass="custom-sidebar" closeOnEscape="true">
        <app-sidebar [selectedAppointment]="selectedAppointment" />
      </p-sidebar>
    </div>
  </div>
</div>