<nav>
  <div class="nav-container">
    <div class="logo-container">
      <img src="/assets/icon/healthplannerLogo.svg" alt="healthplanner" class="logo">
    </div>
    <div class="nav-links">
      <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link" #navLink>Inicio</a>
      @if (user && user.role === 'admin') {
      <a [routerLink]="['/agenda']" routerLinkActive="active" class="nav-link" #navLink>Agenda</a>
      }
      <a [routerLink]="['/users']" routerLinkActive="active" class="nav-link" #navLink>{{ user && user.role == 'admin' ? 'Pacientes' : 'Enfermeros' }}</a>
    </div>
    <div class="user-profile">
      <div class="dropdown">
        <button class="user-account">
          <img src="{{user?.photoURL || '/assets/icon/user_icon.svg'}}" alt="user-img" class="user-icon">
          <p>{{formattedName}}</p>
        </button>
        <div class="dropdown-content">
          <a [routerLink]="['/user-profile', user?.uid]" routerLinkActive="active">
            <div class="card">
              <div class="card-img">
                <img src="{{user?.photoURL || '/assets/icon/user_icon.svg'}}" alt="user-img" class="user-icon">
              </div>
              <div class="card-info">
                <p>{{formattedName}}</p>
                <small>{{user?.email}}</small>
              </div>
            </div>
          </a>
          <menu>
            <div class="content-menu">
              <button class="menu-item" [routerLink]="['/user/settings', user?.uid]" routerLinkActive="active">
                <img src="/assets/icon/settings.svg" alt="settings-icon" class="menu-icon">
                <p>Configuración</p>
              </button>
              <button class="menu-item">
                <img src="/assets/icon/appointmentList.svg" alt="settings-icon" class="menu-icon">
                <p>Categorías de citas</p>
              </button>
            </div>
            <hr>
            <button class="menu-item" (click)="signOut()">
              <img src="/assets/icon/signOut.svg" alt="settings-icon" class="menu-icon">
              <p>Cerrar sesión</p>
            </button>
          </menu>
        </div>
      </div>
    </div>
  </div>
</nav>


<!-- Navbar for small screens -->
<nav class="nav-mobile">
  <a [routerLink]="['/home']" routerLinkActive="active" #navLink>
    <i><img src="/assets/icon/home.svg" alt="home"></i>
    <span>Inicio</span>
  </a>
  <a [routerLink]="['/agenda']" routerLinkActive="active" #navLink>
    <i><img src="/assets/icon/agenda.svg" alt="agenda"></i>
    <span>Agenda</span>
  </a>
  <a [routerLink]="['/users']" routerLinkActive="active" #navLink>
    <i><img src="/assets/icon/patients.svg" alt="patients"></i>
    <span>Pacientes</span>
  </a>
  <a [routerLink]="['/profile']" routerLinkActive="active" #navLink>
    <i><img src="/assets/icon/profile.svg" alt="profile"></i>
    <span>Perfil</span>
  </a>
</nav>