.login-page {
  display: flex;
  width: 100%;
  height: 100vh;
}

.card-title {
  display: block;
}

.first-section {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.second-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.title {
  position: fixed;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  top: 7%;
  left: 7%;
  color: var(--dark-blue);
}

.img {
  width: 75%;
  height: 75%;
}

.text-dark-blue {
  color: var(--dark-blue);
}

.backCard {
  background-color: var(--dark-blue);
  width: 24%;
  height: 70%;
  top: 8rem;
  left: 60%;
  position: absolute;
  border-radius: 1.5rem;
}

.frontCard {
  background-color: var(--light-blue);
  position: absolute;
  border-radius: 1.5rem;
  width: 24%;
  height: 70%;
  min-width: 25rem;
  max-width: 31rem;
  top: 5rem;
  left: 63%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.frontCard::before {
  content: "";
  position: absolute;
  background-color: var(--dark-blue);
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  top: 40px;
  left: -40px;
  z-index: -1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: none;
}

@media screen and (max-width: 1150px) {
  .login-page {
    flex-direction: column;
    align-items: center;
    overflow: auto;
  }

  .first-section {
    display: block;
    height: 45%;
    width: 100%;
    padding-top: 4rem;
  }
  .title {
    display: flex;
    width: 100%;
    top: 2rem;
    left: 0;
    justify-content: center;
  }

  .img {
    width: 100%;
    height: 100%;
  }
  .second-section {
    display: block;
  }

  .frontCard {
    position: relative;
    width: 100%;
    left: 0;
    background-color: var(--white);
    border-radius: 0;
    top: 0;
    left: -0;
    box-shadow: none;
    margin: auto;
  }

  .frontCard::before {
    display: none;
  }
  .card-title {
    display: none;
  }

  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    //border-bottom: 2px solid #ccc; /* Línea inferior general para los tabs */
  }

  .tab {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-bottom: 2px solid transparent; /* Línea inferior individual */
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
    font-size: 16px;
    position: relative;
    color: var(--dark-gray);
  }

  .tab:hover {
    background-color: #ddd;
  }

  .tab.active {
    border-bottom: 2px solid #007bff; /* Línea inferior azul para el tab activo */
    background-color: white;
  }

  .tab.active {
    border-bottom: 2px solid var(--dark-blue);
    background-color: white;
    color: var(--dark-blue);
  }
}
/*flex w-1/2 justify-end items-center h-full

flex w-1/2 justify-center items-center h-full */
@media screen and (max-width: 768px) {
  .first-section {
    display: block;
    //height: 50%;
    width: 100%;
    //padding-top: 7rem;
  }
  .title {
    display: flex;
    width: 100%;
    left: 0;
    justify-content: center;
  }

  .img {
    width: 100%;
    height: 100%;
  }
}
