<div class="main-page">
    <div class="first-section">
        <h1 class="title">HealthPlanner</h1>
        <div class="login img"></div>
    </div>
    <div class="second-section">
        <div class="tabs">
            <button class="tab active">Inicio de sesión</button>
            <button class="tab " [routerLink]="['/auth/register']">
                Registro
            </button>
        </div>
        <div class="frontCard">
            <div class="flex pt-10">
                <h2 class=" text-dark-blue card-title mt-5">Inicio de sesión</h2>
            </div>
            <app-login-form></app-login-form>
        </div>
    </div>
</div>
