.agenda-container {
  animation: fadeInBackground 0.2s ease-in-out forwards;
}
.agenda-content{
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.no-modal {
  display: none;
}

.agenda-content button {
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  padding: 2rem;
  border-radius: 1rem;
}

.dialog-body{
  padding: 0!important;
}

@media screen and (max-width: 768px){
  .no-modal {
    display: block;
  }

  .modal{
    display: none;
  }
}

