<div class="content-menu">
  <button class="menu-item">
    <img src="/assets/icon/settings.svg" alt="settings-icon" class="menu-icon">
    <p>Configuración</p>
  </button>
  <button class="menu-item">
    <img src="/assets/icon/appointmentList.svg" alt="settings-icon" class="menu-icon">
    <p>Categorías de citas</p>
  </button>
  <button class="menu-item" (click)="signOut()">
    <img src="/assets/icon/signOut.svg" alt="settings-icon" class="menu-icon">
    <p>Cerrar sesión</p>
  </button>
</div>
<hr>