.content-menu {
  margin-bottom: 4rem;
  animation: fadeInBackground 0.2s ease-in-out forwards;
}

.menu-item {
  display: flex;
  padding: 10px;
  width: 100%;
  text-decoration: none;
  align-items: center;
  gap: 1rem;
}

.menu-item:hover {
  background-color: #ddd;
}
