.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .dialog-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--dark-blue);
  }

  .dialog-body{
    padding: 20px;
    background-color: white;
    border-radius: 8px;
  }

  .dialog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
  }

  .dialog-content {
    position: relative;
    background: white;
    border-radius: 8px;
    padding: 20px;
    max-height: 650px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    z-index: 1000;
    
  }
  .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  @media screen and (min-width: 1750px){
    .dialog-content{
      max-height: 880px;
    }

  }