<div class="container" [style]="containerStyle">
    <div #mapContainer id="map" [style]="mapStyles" class="map-container"></div>
    <div class="address-container">
        <div id="addressContainer" [hidden]="!isEditable">
            <div class="search-location-container">
                <input type="text" #searchInput class="map-searchbar" placeholder="Buscar ubicación" />
                <button type="button" class="current-location-button" (click)="getCurrentLocation()">
                </button>
            </div>
        </div>

        <div class="map-coordinates">
            <img src="/assets/icon/maps_icon.svg" alt="Maps Icon" width="40px" height="40px">
            @if (formattedAddress) {
            <p class="coordinates-text">{{ formattedAddress }}</p>
            } @else {
            <p class="coordinates-text">El usuario no cuenta con una ubicación registrada</p>
            }
        </div>
    </div>
</div>