.forgot-password-container {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #ffffff; /* Fondo blanco */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra negra */
}
.form-group {
  margin-bottom: 1rem;
}
.form-group label {
  display: block;
  margin-bottom: 0.25rem;
}
.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.buttonLay {
  width: 100%;
  border-radius: 2rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--dark-blue);
}

.buttonLay.disabled {
  opacity: 0.5;
}
