<div class="summary-container">
  <div class="user-information">
    <h3>Paciente:</h3>
    <div class="info">
      <div class="left">
        <div class="id">
          <label for="id">Cédula:</label>
          <span>{{appointment.patient.identification}}</span>
        </div>
        <div class="email">
          <label for="email">Correo:</label>
          <span>{{appointment.patient.email}}</span>
        </div>
      </div>
      <div class="right">
        <div class="name">
          <label for="name">Nombre:</label>
          <span>{{appointment.patient.name}} {{appointment.patient.lastname}}</span>
        </div>
        <div class="phone">
          <label for="phone">Telefono:</label>
          <span>{{appointment.patient.phoneNumber}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="nurse-information">
    <h3>Enfermero/a</h3>
    <div class="info">
      <div class="left">
        <div class="id">
          <label for="id">Cédula:</label>
          <span>{{appointment.professional.identification}}</span>
        </div>
        <div class="email">
          <label for="email">Correo:</label>
          <span>{{appointment.professional.email}}</span>
        </div>
      </div>
      <div class="right">
        <div class="name">
          <label for="name">Nombre:</label>
          <span>{{appointment.professional.name}} {{appointment.professional.lastname}}</span>
        </div>
        <div class="phone">
          <label for="phone">Telefono:</label>
          <span>{{appointment.professional.phoneNumber}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="appointment-info">
    <h3>Resumen de la cita</h3>
    <div class="info">
      <div class="top">
        <div class="date">
          <label for="date">Fecha y hora:</label>
          <span>{{appointment.datetime|date:'dd/MM/yyyy HH:mm:ss':'UTC+0'}}</span>
        </div>
        <div class="specialty">
          <label for="specialty">Especialidad:</label>
          <span>{{appointment.specialties|specialtiesList}}</span>
        </div>
      </div>
    </div>
  </div>
</div>