@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/*Toast*/
// regular style toast
@import "ngx-toastr/toastr";

// bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
//@import "ngx-toastr/toastr-bs4-alert";

//// if you'd like to use it without importing all of bootstrap it requires
//@import "bootstrap/scss/functions";
//@import "bootstrap/scss/variables";
//@import "bootstrap/scss/mixins";
//// bootstrap 4
//@import "ngx-toastr/toastr-bs4-alert";
//// boostrap 5
//@import "ngx-toastr/toastr-bs5-alert";

:root {
  --white: #ffffff;
  --dark-blue: #2c698d;
  --light-blue: #c1e8ff;
  --light-gray: #dadce0;
  --dark-gray: #7d8189;
}

body {
  background-color: #ffffff;
}

/* Cards */

.card-title {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: auto;
}

.ngx-toastr {
  width: 20% !important// Specify toastr-dialog width for all devices;
}
