<div class="notes-container mt-8">
  <h3 class="notes-title">Notas sobre el paciente</h3>

  <div class="notes">
    <div class="left-section">
      <div class="input-container">
        <div class="search_input">
          <input type="text" placeholder="Añadir nota al usuario..." [(ngModel)]="noteValue"
            (keyup.enter)="createNote()">
          <button class="search-button" (click)="createNote()">
            <img src="/assets/icon/btn_send.svg" alt="plusIcon" class="send-icon">
          </button>
        </div>
        <button class="send-btn">
        </button>
      </div>
      <div class="notes_list mt-8 mb-20">
        @if (notes&&notes.length > 0) {
        @for (note of notes; track $index) {
        <div class="note">
          <label for="note">{{note.createdAt| date: 'longDate'|titlecase}}</label>
          <span>{{note.description}}</span>
          <div class="actions">
            <button class="btn_edit" (click)="startNoteUpdate(note)">Editar</button>
            <button class="btn_delete" (click)="deleteNote(note.id!)">Borrar</button>
          </div>
        </div>
        }
        }@else {
        <div class="note">
          <label for="no-results">* No hay notas registradas en este usuario</label>
        </div>
        }

      </div>
    </div>
    <div class="right-section"></div>
  </div>
</div>