<div class="notes-container mt-8">
  <h3 class="notes-title">Notas sobre el paciente</h3>

  <div class="notes">
    <div class="left-section">
      <div class="input-container">
        <app-custom-input [label]="'Añadir nota ...'" [optional_class]="'notes_input'" />
        <button class="send-btn">
          <img src="/assets/icon/btn_send.svg" alt="plusIcon" class="send-icon">
        </button>
      </div>
      <div class="notes_list mt-8 mb-20">
        <div class="note">
          <label for="note">8 de Mayo del 2024</label>
          <span>El paciente tiene problemas de presión alta</span>
          <div class="actions">
            <button class="btn_edit">Editar</button>
            <button class="btn_delete">Borrar</button>
          </div>
        </div>
        <div class="note">
          <label for="note">8 de Abril del 2024</label>
          <span>La paciente dice que "tuvo un resfriado común y tos ferina, luego evolucionó a los
            síntomas actuales.</span>
          <div class="actions">
            <button class="btn_edit">Editar</button>
            <button class="btn_delete">Borrar</button>
          </div>
        </div>
        <div class="note">
          <label for="note">3 de Marzo del 2024</label>
          <span>El paciente tiene agotamientos inusuales</span>
          <div class="actions">
            <button class="btn_edit">Editar</button>
            <button class="btn_delete">Borrar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="right-section"></div>
  </div>
</div>
