<div class="container">
  <p-stepper orientation="vertical">
    <p-stepperPanel header="Información del paciente">
      <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
        <app-user-summary></app-user-summary>
        <div class="actions">
          <button class="schedule" (click)="nextCallback.emit()">Siguiente</button>
        </div>
      </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Información de la cita">
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
        let-index="index">
        <app-select-user />
        <app-add-categories />
        <app-date-and-time-picker />
        <div class="actions">
          <button class="back" (click)="prevCallback.emit()">Atrás</button>
          <button class="schedule" (click)="nextCallback.emit()">Siguiente</button>
        </div>
        <!-- <div class="actions step-2"> -->
        <!-- <button (click)="prevCallback.emit()">Atras</button> -->
        <!-- <p-button label="Atrás" severity="secondary" (onClick)="prevCallback.emit()" [styleClass]="'back'" />
          <p-button label="Siguiente" (onClick)="nextCallback.emit()"
            [style]="{'background-color':'var(--dark-blue)', 'color':'#ffffff', 'padding':'.25rem 1rem','border-radius':'.25rem','font-weight':'none'}" /> -->
        <!-- </div> -->
      </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Confirmación">
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
        <app-appointment-summary (back)="prevCallback.emit()" (cancel)="closeDialog.emit()"
          (schedule)="scheduleAppointment.emit()" />
      </ng-template>
    </p-stepperPanel>
  </p-stepper>
</div>