<div class="relative">
  <!-- Normal -->
  <input *ngIf="type !== 'password'" [type]="type" class="shadow border py-2 px-3 leading-tight inputLay"
    ngClass="{{control.invalid && control.touched? 'error' : ''}}" [formControl]="control" [attr.placeholder]="label" />

  <!-- Password -->
  <input *ngIf="type === 'password'" class="shadow py-2 px-3 leading-tight inputLay" id="password"
    placeholder="******************" [type]="passwordFieldType" [formControl]="control" [attr.placeholder]="label"
    ngClass="{{control.invalid && control.touched? 'error' : ''}}" />
  <button *ngIf="type === 'password'" type="button" class="absolute inset-y-0 right-0 px-3 flex items-center"
    (click)="togglePasswordVisibility()">
    <img *ngIf="passwordFieldType === 'password'" src=" /assets/icon/eye-closed.svg" alt="eye" class="h-6 w-6">
    <img *ngIf="passwordFieldType === 'text'" src="/assets/icon/eye-open.svg" alt="Hide Password" class="h-6 w-6">
  </button>

  <!-- Error message -->
  <div *ngIf="control.invalid && control.touched" class="text-red-700 left-2 mt-1 text-xs"
    ngClass="{{type === 'password'? 'absolute top-full':''}}">
    This field is required.
  </div>
</div>